# IDE settings
.idea/
.vscode/
.vs/
*.iml
*.ipr
*.iws
CppProperties.json

# Flutter and Dart related
.dart_tool/
.flutter-plugins-dependencies
.metadata
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
*.har

release_assets/
push_release*.log
windows/Output/*.exe
windows/Output/*.msix
windows/Output/*.zip
